/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    scroll-behavior: smooth 1s;
    height: 100vh;
    width: 100%;
    background-color: #191919;
}
.flex{
    display: flex;
}

.btn-contato button{
    padding:10px 40px;
    font-size: 18px;
    font-weight: 700;
    /* background-color: ; --> definir uma cor de fundo para o botão*/
    border:0 ;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color: #ff0000;
}

 button:hover,form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 8px #7d7d7d;
    transform: scale(1.05);
    transition: 1s;
}

/* Estilo do cabeçalho */

.navegacao{
    /* border-bottom: 1px solid #383636; */
    max-width: 1200px;
    margin: 0 auto;
}

header{
    padding: 40px 4%;
    background-color:#191919 ;
}

header > .navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: 1s;
    color: #fff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
   cursor: pointer;
}

header .btn-contato button{
    padding:10px 40px;
    font-size: 18px;
    font-weight: 700;
    /* background-color: ; --> definir uma cor de fundo para o botão*/
    border:0 ;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #7d7d7d;
}

.navegacao span{
    color: red;
}


.navegacao li{
    text-decoration: none;
    list-style: none;
    /* transition: border-bottom 1s, color 1s, margin-left 1s, margin-right 1s; */
}

/* fim de nevegação */

/* Estilo do topo do site */
.topo-do-site {
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site h1 {
    color: white;
    font-size: 65px;
    
}
.pereira {
    color: red;
    display: inline-block;
    visibility: hidden;
}

.animation_2 {
    color: white;
    font-size: 25px;
    visibility: hidden;
    padding-bottom: 20px;
    padding-left: 0;
}

.btn-contato .btn-topo-do-site{
    visibility: hidden;
}
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
.avatar{
    height: 280px;
    width: 480px;
    border-radius: 50px;
    box-shadow: 3px 0px 3px #ff0000;
}


@keyframes flutuar{
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
} 

/* estilo de minhas especialidades */
section.especialidades {
    padding: 40px 4%;
    margin-top: 90px;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    /* border: 2px solid #fff; */
    margin-top: 45px;
    border-radius: 20px;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff77;
    transition: 1s;
    cursor: pointer;
}

.especialidades .especialidades-box i{
    color: #ff0000;
    font-size: 75px;
}

.especialidades .especialidades-box h3{
    font-size: 26px;
    margin: 15px 0;
}


/* estilos de sobre mim */
section.sobre{
    padding: 40px 4%;
    margin-top: 40px;
}

.img-sobre img{
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #ff0000;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}

.sobre .txt-sobre .btn-social a{
    text-decoration: none;
    list-style: none;
}

/* estilo de meus projetos */

section.portifolio{
    padding: 80 4%;
    box-shadow: 0 0 50px 10px #ffffff73;
}

section.portifolio .flex{
   justify-content: space-around;
   margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: center 0%;
    background-size:600px 450px ;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid #7d7d7d;
    box-shadow: 0 0 2px 2px #ffffff73;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
    transition: 5s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #000000b8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
}

.overlay:hover{
    opacity: 1;
    transition: 1.5s;
}

/* Estilo do formulario */

section.contato{
    padding:80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242323f6;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 100px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 200px;
    height: 60px;
    background-color: #fff;
    color: #191919;
    font-weight: 700;
    cursor: pointer;
    transition:.2s;
}