/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    scroll-behavior: smooth 1s;
    height: 100vh;
    width: 100%;
    background-color: #191919;
}

/* Estilo do cabeçalho */

.navegacao{
    /* border-bottom: 1px solid #383636; */
    max-width: 1200px;
    margin: 0 auto;
}

header{
    padding: 40px 4%;
    position: fixed;
    left: 0;
    right: 0;
    background-color:#191919 ;
}

header > .navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: 1s;
    color: #fff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
   cursor: pointer;
}

header .btn-contato button{
    padding:10px 40px;
    font-size: 18px;
    font-weight: 700;
    /* background-color: ; --> definir uma cor de fundo para o botão*/
    border:0 ;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #ff0000;
}

.navegacao span{
    color: red;
}


.navegacao li{
    text-decoration: none;
    list-style: none;
    /* transition: border-bottom 1s, color 1s, margin-left 1s, margin-right 1s; */
}


/* fim de nevegação */

.caixa-img {
    display: flex;
    justify-content: right;
    padding-top: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
#avatar {
    background-color: transparent;
    border-radius: 100%;
    box-shadow: 10px 0px 10px red;
}


@keyframes minhaAnimacao {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 

.meu-nome {
    position: absolute;
    top: 50%;
    left: 10%;

}

.meu-nome h1 {
    color: white;
    font-size: 65px;
}

.pereira {
    color: red;
    display: inline-block;
    visibility: hidden;
}

.digitando2 {
    color: white;
    font-size: 25px;
    display: inline-block;
    visibility: hidden;
}

section img {
    height: 300px;
    border-radius: 50px;
    border: 1px solid red;
    margin-right: 50px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20%;
    background-color: #000000;
}

section div h2 {
    color: white;
    font-size: 76px;
}

section div p {
    color: rgba(248, 248, 248, 0.479);
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 40px;
}

section div button {
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
}

section div button:hover {
    background-color: #000000;
    border: 3px solid red;
    transition: 0.5s;
    cursor: pointer;
}

.projetos {
    background-color: #191919;
    padding-bottom: 50px;
}

.projetos h2 {
    color: white;
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}

.card {
    background-color: #000000;
    height: 375px;
    width: 335px;
    margin-left: 20px;
    border-radius: 25px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    margin-top: 15px;
    color: gray;
    padding-bottom: 15px;

}

.card a {
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;

}

.card img {
    border-radius: 15px;
}

.card a:hover {
    background-color: transparent;
    border: 3px solid red;
    cursor: pointer;
    transition: 0.5s;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
footer {
    background-color: #000000;
    padding-top:100px ;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5{
    color: white;
    font-size: 35px;
    text-align: center;
}

footer p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;
}
.social{
    display: flex;
    gap: 15px;
}

.social img{
    height: 25px;
    border-radius: 50%;
}
.social a {
    height: 45px;
    width: 45px;
    border: 9px solid red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    height: 37px;
    width: 37px;
    justify-content: center;
    cursor: pointer;
}
.social a:hover{
    transform: scale(1.3);
    transition: 0.5s;
}